@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <h1 class="display-4">Hospitalizacion: Urgencias</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img class="d-block w-100" src="./images/1.jpg" alt="First slide">
         </div>
         <div class="carousel-item">
           <img class="d-block w-100" src="./images/5.jpg" alt="Second slide">
         </div>
         <div class="carousel-item">
           <img class="d-block w-100" src="./images/3.jpg" alt="Third slide">
         </div>
      </div>
   </div>
    
    
    <p id="pageprincipal"> <h2>¿Ques el Covid-19?</h2>
    La <b>COVID-19</b> es la enfermedad causada por el nuevo coronavirus conocido como SARS-CoV-2.<br>
     La OMS tuvo noticia por primera vez de la existencia de este nuevo virus el 31 de diciembre de 2019, al ser informada de un grupo de casos de «neumonía vírica» que se habían declarado en Wuhan (República Popular China).<br></p>

     <h2>¿Cuales son los sintomas del Covid-19?</h2>
     <p id="pageprincipal">
         Los síntomas más habituales de la COVID-19 son:<br>
         <ul>
            <li>Fiebre</li> 
             <li>Tos seca</li>
             <li>Cansancio</li>
         </ul>
     </p>
     <p id="pageprincipal">
         Otros síntomas menos frecuentes y que pueden afectan a algunos pacientes:<br>
         <ul>
             <li>Pérdida del gusto o el olfato</li>
             <li>Congestión nasal</li>
             <li>Conjuntivitis (enrojecimiento ocular)</li>
             <li>Dolor de garganta</li>
             <li>Dolor de cabeza</li>
             <li>Diarrea</li>
         </ul>
     </p>
     <p id="pageprincipal">Las personas de cualquier edad que tengan fiebre o tos y además respiren con dificultad, sientan dolor u opresión en el pecho o tengan dificultades para hablar o moverse deben solicitar atención médica inmediatamente. <br>
     De ser posible, llame con antelación a su dispensador de atención de salud, al teléfono de asistencia o al centro de salud para que puedan indicarle el dispensario adecuado.</p>
</div>

